<%# locals: (meeting:, survey:) %>

<%= form_with model: [:admin, @meeting, @survey], data: { controller: "surveys" } do |form| %>

  <div data-surveys-target="questions">
    <%= form.fields_for :questions do |question_fields| %>
      <div class="question" data-new-record="false">
        <%= render "admin/surveys/questions/fields", question_fields: question_fields %>
      </div>
    <% end %>
  </div>

  <template data-surveys-target="template">
    <div class="question" data-new-record="true">
      <%= form.fields_for :questions, Surveys::Question.new, child_index: "NEW_RECORD" do |question_fields| %>
        <%= render "admin/surveys/questions/fields", question_fields: question_fields %>
      <% end %>
    </div>
  </template>

  <%= card do %>
    <%= button_tag class: "button button-secondary button-xl", data: { action: "click->surveys#addQuestion" } do %>
      Add Question
    <% end %>

      <%= form.submit "Save survey", class: "button button-primary button-xl" %>
  <% end %>
<% end %>


