<%# locals: (meeting:, survey:) %>

<%= form_with model: @survey, url: admin_meeting_surveys_path, data: { controller: "surveys" } do |form| %>
  <%= form.hidden_field :template %>

  <h3 class="mt-0">
    <%= surveys_title(@meeting) %>
  </h3>

  <div data-surveys-target="questions">
    <%= form.fields_for :questions do |question_fields| %>
      <div class="question" data-new-record="false">
        <%= render "admin/surveys/questions/fields", question_fields: question_fields %>
      </div>
    <% end %>
  </div>

  <template data-surveys-target="template">
    <div class="question" data-new-record="true">
      <%= form.fields_for :questions, Surveys::Question.new, child_index: "NEW_RECORD" do |question_fields| %>
        <%= render "admin/surveys/questions/fields", question_fields: question_fields %>
      <% end %>
    </div>
  </template>


  <% if @survey.custom? %>
    <%= button_tag class: "button button-secondary", data: { action: "click->surveys#addQuestion" } do %>
      Ask another question
    <% end %>
  <% end %>

  <%= form.submit "Save form", class: "button button-primary" %>
<% end %>


