<%# locals: (membership:) %>

<%= form_with model: [:admin, membership], data: { turbo_frame: "_top" } do |form| %>
  <%= render 'navigation/form_errors', model: membership %>
  <%= form.fields_for :user do |user_form| %>
    <%= form.hidden_field :id %>

    <div class="form-group">
      <%= user_form.label :first_name %>
      <%= user_form.text_field :first_name, class: "form-control", required: true, autocomplete: false %>
    </div>

    <div class="form-group">
      <%= user_form.label :last_name %>
      <%= user_form.text_field :last_name, class: "form-control", autocomplete: false %>
    </div>

    <div class="form-group">
      <%= user_form.label :email %>
      <%= user_form.email_field :email,
                                class: "form-control",
                                required: true,
                                autocomplete: false
      %>
    </div>

    <% if membership.persisted? %>
      <% if membership.invited? || membership.user == Current.user %>
        <div class="form-group">
          <%= form.label :role %>
          <%= tooltip membership_disabled_reason(membership) do %>
            <%= form.select :role,
                            selectable_membership_roles_for(membership),
                            {},
                            disabled: true,
                            class: "form-control",
                            autocomplete: false
            %>
          <% end %>
        </div>
      <% else %>
        <div class="form-group">
          <%= form.label :role %>
          <%= form.select :role,
                          selectable_membership_roles_for(membership),
                          {},
                          class: "form-control",
                          autocomplete: false
          %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="mt-4 flex space-x-3">
    <%= form.submit "Save", class: "button button-primary" %>
  </div>
<% end %>
