<%= breadcrumbs do %>
  <%= breadcrumb 'Members', admin_memberships_path %>
  <%= breadcrumb @membership.user.full_name %>
<% end %>

<div class="max-w-4xl">
  <%= card class: 'relative' do %>
    <%= turbo_frame_tag @membership do %>
      <div class="absolute top-4 right-4">
        <%= link_to edit_admin_membership_path(@membership),
                    data: { turbo_frame: dom_id(@membership) },
                    class: "text-gray-400 hover:text-gray-600" do %>
          <%= svg_tag 'icons/mingcute/edit_line' %>
        <% end %>
      </div>

      <p class="text-lg">
        <strong class="text-gray-700">Full Name:</strong>
        <span class="text-gray-900"><%= @membership.user.full_name %></span>
      </p>

      <p class="text-lg mt-4">
        <strong class="text-gray-700">Email:</strong>
        <span class="text-gray-900"><%= @membership.user.email %></span>
      </p>
    <% end %>
  <% end %>

  <div class="mt-6 flex space-x-4">
    <%= button_to "Delete member",
                  admin_membership_path(@membership),
                  method: :delete,
                  disabled: Current.user == @membership.user,
                  form: {
                    data: {
                      turbo_confirm: "Are you sure you want to remove member #{@membership.user.full_name}?"
                    }
                  },
                  class: "button button-secondary" %>
  </div>
</div>
