<%# locals: (meeting:) %>

<div class="flex-wrap flex-col md:flex-row">
  <div>
    <%= form_with model: meeting, url: admin_meeting_path(meeting), data: { controller: "submit-on-change" } do |form| %>
      <%= render "navigation/form_errors", model: meeting %>
      <div
        class="border-b border-solid bg-gray-300 hover:opacity-75"
        style="<%= blur_background_styles(meeting.logo, fallback_image: meeting.platform.logo) %>"
      >
        <%= form.label :logo, class: "p-8 flex #{blur_foreground_classes} cursor-pointer" do %>
          <% if meeting.logo.attached? %>
            <%= image_tag meeting.logo, alt: "#{meeting.title} logo", class: "avatar" %>
          <% elsif Current.platform.logo.attached? %>
            <%= image_tag Current.platform.logo, alt: "#{Current.platform.name} logo", class: "avatar" %>
          <% else %>
            <div class="avatar"></div>
          <% end %>
          <%= form.file_field :logo, class: "hidden", data: { action: "submit-on-change#submit" } %>
          <%= form.submit "", class: "hidden", data: { "submit-on-change-target": "submitButton" } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="flex flex-wrap p-4">
    <h2 class="mt-0 mb-2">
      <%= turbo_frame_tag @meeting, :title do %>
        <%= link_to @meeting.title, edit_admin_meeting_path(@meeting), class: "editable" %>
      <% end %>
    </h2>

    <div class="flex w-full flex-none gap-x-4">
      <dt class="flex-none">
        <span class="sr-only">Date</span>
        <%= svg_tag "icons/mingcute/calendar_2_line", class: "h-6 w-5 text-primary" %>
      </dt>

      <dd class="w-full">
        <%= turbo_frame_tag @meeting, :happens_at do %>
          <% if @meeting.scheduled? %>
            <%= link_to datetime_format(@meeting.happens_at, format: :pretty_datetime),
                        edit_admin_meeting_path(@meeting),
                        class: "editable" %>
          <% else %>
            <% last_survey = @meeting.surveys.last %>
            <%= link_to edit_admin_meeting_path(@meeting),
                        class: "editable #{'link link-underline' unless last_survey&.meeting_date?}" do %>
              <% if last_survey&.meeting_date? %>
                Guests can choose between
                  <ul>
                  <% last_survey.questions.first.alternatives.includes(:responses).each do |alternative| %>
                      <li><%= alternative.title %> (<%= pluralize alternative.responses.size, "vote" %>)</li>
                  <% end %>
                  </ul>
              <% else %>
                Set a date
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </dd>
    </div>

    <div class="flex w-full flex-none gap-x-4">
      <dt class="flex-none">
        <span class="sr-only">Location</span>
        <%= svg_tag "icons/mingcute/location_line", class: "h-6 w-5 text-secondary" %>
      </dt>
      <dd>
        <%= turbo_frame_tag @meeting, :location do %>
          <%= link_to @meeting.location.present? ? @meeting.location : "Decide location", edit_admin_meeting_path(@meeting), class: "editable #{'link link-underline' unless @meeting.location.present?}" %>
        <% end %>
      </dd>
    </div>

    <div class="flex w-full flex-none gap-x-4">
      <dt class="flex-none">
        <span class="sr-only">Description</span>
        <%= svg_tag "icons/mingcute/information_line", class: "h-6 w-5 text-tertiary" %>
      </dt>
      <dd>
        <%= turbo_frame_tag @meeting, :description do %>
          <% if @meeting.description.present? %>
            <%= link_to edit_admin_meeting_path(@meeting), class: "editable" do %>
            <%= @meeting.description %>
            <% end %>
          <% else %>
            <%= link_to "Write a description", edit_admin_meeting_path(@meeting), class: "link link-underline editable" %>
          <% end %>
        <% end %>
      </dd>
    </div>
  </div>
</div>

