<%# locals: (meeting:, turbo_frame: nil) %>

<%= form_for [:admin, meeting], data: { turbo_frame: turbo_frame } do |f| %>
  <%= render 'navigation/form_errors', model: meeting %>

  <div class="form-group">
    <%= f.label :title, "Meeting title" %>
    <%= f.text_field :title, class: "form-control", autocomplete: false %>
  </div>

  <div class="form-group">
    <%= f.label :scheduled_at, "When does it take place?" %>
    <%= f.datetime_local_field :scheduled_at, class: "form-control", autocomplete: false %>
  </div>

  <%= f.submit meeting.persisted? ? "Save" : "Schedule", class: "button button-primary" %>
<% end %>
