<%= breadcrumbs do %>
  <%= breadcrumb 'Meetings', admin_meetings_path %>
  <%= breadcrumb @meeting.title %>
<% end %>

<%= card class: "relative lg:col-span-2" do %>
  <%= turbo_frame_tag @meeting do %>
    <div class="absolute top-4 right-4">
      <%= link_to admin_meeting_path(@meeting),
                  class: "button button-secondary button-xs inline-flex items-center gap-1" do %>
        <%= svg_tag "icons/mingcute/close_line.svg", class: "inline h-3 w-3" %>
        Close
      <% end %>
    </div>

    <%= form_with model: [:admin, @meeting], data: { turbo_frame: "_tnop" } do |form| %>
      <%= render 'navigation/form_errors', model: @meeting %>

      <div class="form-group">
        <%= form.label :title, "Title" %>
        <%= form.text_field :title, class: "form-control", autocomplete: false %>
      </div>

      <div class="form-group">
        <%= form.label :scheduled_at, "Date & Time" %>
        <%= form.datetime_local_field :scheduled_at, class: "form-control", autocomplete: false %>
      </div>

      <div class="form-group">
        <%= form.label :location, "Location" %>
        <%= form.text_field :location, class: "form-control", autocomplete: false %>
      </div>

      <div class="form-group">
        <%= form.label :description, "Purpose" %>
        <%= form.text_area :description, class: "form-control", autocomplete: false %>
      </div>

      <%= form.submit "Save", class: "button button-primary" %>
    <% end %>
  <% end %>
<% end %>
