<%= breadcrumbs do %>
  <%= breadcrumb 'Meetings', admin_meetings_path %>
  <%= breadcrumb @meeting.title %>
<% end %>

<%= card class: "relative lg:col-span-2" do %>
  <%= turbo_frame_tag @meeting do %>
    <div class="absolute top-4 right-4">
      <%= link_to admin_meeting_path(@meeting),
                  class: "button button-secondary button-xs inline-flex items-center gap-1" do %>
        <%= svg_tag "icons/mingcute/close_line.svg", class: "inline h-3 w-3" %>
        Close
      <% end %>
    </div>
    <%= render "admin/meetings/form", meeting: @meeting %>
  <% end %>
<% end %>