<%= breadcrumbs do %>
  <%= breadcrumb 'Meetings', admin_meetings_path %>
  <%= breadcrumb "#{@meeting.title} #{datetime_format @meeting.scheduled_at, format: :date}" %>
<% end %>

<div class="max-w-4xl">
      <%= card class: 'relative' do %>
        <%= turbo_frame_tag @meeting do %>
          <div class="absolute top-4 right-4">
            <%= link_to edit_admin_meeting_path(@meeting),
                        data: { turbo_frame: dom_id(@meeting) },
                        class: "text-gray-400 hover:text-gray-600" do %>
              <%= svg_tag 'icons/mingcute/edit_line' %>
            <% end %>
          </div>

      <p class="text-lg">
        <strong class="text-gray-700">Title:</strong>
        <span class="text-gray-900"><%= @meeting.title %></span>
      </p>

      <p class="text-lg mt-4">
        <strong class="text-gray-700">Scheduled At:</strong>
        <span class="text-gray-900">
          <%= datetime_format @meeting.scheduled_at, format: :datetime  %>
        </span>
      </p>
    <% end %>
  <% end %>

  <div class="mt-6 flex space-x-4">
    <%= button_to "Delete meeting",
                  admin_meeting_path(@meeting),
                  method: :delete,
                  form: {
                    data: {
                      turbo_confirm: "Are you sure you want to delete the meeting titled '#{@meeting.title}' scheduled for #{@meeting.scheduled_at.strftime("%B %d, %Y %H:%M")}?"
                    }
                  },
                  class: "button button-secondary" %>
  </div>
</div>