<%= turbo_stream_from @meeting %>

<%= breadcrumbs do %>
  <%= breadcrumb 'Events', admin_meetings_path %>
  <%= breadcrumb "#{@meeting.title} #{datetime_format @meeting.happens_at, format: :date}" %>
<% end %>

<div class="grid grid-cols-1 items-start gap-2 lg:gap-4">
  <div class="lg:col-span-1">
    <%= card class: "relative", title: @meeting.title do %>
      <%= turbo_frame_tag @meeting do %>
        <div class="absolute top-4 right-4">
          <%= link_to edit_admin_meeting_path(@meeting),
                      class: "button button-secondary button-xs inline-flex items-center gap-1" do %>
            <%= svg_tag "icons/mingcute/edit_line.svg", class: "inline h-3 w-3" %>
            Edit
          <% end %>
          <%= link_to admin_meeting_path(@meeting),
                      data: {
                        turbo_frame: "_top",
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure you want to delete the meeting '#{@meeting.title}'#{("(, scheduled for #{@meeting.happens_at.strftime("%B %d, %Y %H:%M") }" if @meeting.scheduled?)}?"
                      },
                      class: "button button-secondary button-xs inline-flex items-center gap-1" do %>
            <%= svg_tag "icons/mingcute/delete_2_line.svg", class: "inline h-3 w-3" %> Delete
          <% end %>
        </div>

        <%= render "admin/meetings/details", meeting: @meeting %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="grid grid-cols-1 md:flex items-start gap-2 lg:gap-4">
  <%= modal_link_to "Invite people",
                    admin_meeting_invites_path(meeting_id: @meeting.id),
                    class: "button button-primary" %>
  <%= link_to "Preview",
              admin_meeting_meeting_previews_path(@meeting.id),
              target: "_blank",
              class: "button button-secondary" %>
</div>
