<%= turbo_stream_from @meeting %>

<%= breadcrumbs do %>
  <%= breadcrumb 'Meetings', admin_meetings_path %>
  <%= breadcrumb "#{@meeting.title} #{datetime_format @meeting.scheduled_at, format: :date}" %>
<% end %>

<div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
  <div class="lg:col-span-2">
    <%= card do %>
      <%= render "admin/meetings/actions/index", meeting: @meeting %>
    <% end %>

    <%= card do %>
      <%= render "admin/log_entries/index", meeting: @meeting %>
    <% end %>
  </div>

  <div class="lg:col-span-1">
    <%= card class: "relative", title: @meeting.title do %>
      <%= turbo_frame_tag @meeting do %>
        <div class="absolute top-4 right-4">
          <%= link_to edit_admin_meeting_path(@meeting),
                      class: "button button-secondary button-xs inline-flex items-center gap-1" do %>
            <%= svg_tag "icons/mingcute/edit_line.svg", class: "inline h-3 w-3" %>
            Edit
          <% end %>
        </div>

        <%= render "admin/meetings/details", meeting: @meeting %>
      <% end %>
    <% end %>

    <%= card title: "Follow up" do %>
      <%= render "admin/meetings/messages/index", meeting: @meeting %>
    <% end %>


    <%= card title: @meeting.invites.any? ? pluralize(@meeting.invites.size, "guest") : "No guests" do %>
      <%= render "admin/invites/index", meeting: @meeting %>
    <% end %>

    <div class="flex space-x-4">
      <%= button_to "Delete meeting",
                    admin_meeting_path(@meeting),
                    method: :delete,
                    form: {
                      data: {
                        turbo_confirm: "Are you sure you want to delete the meeting '#{@meeting.title}'#{", scheduled for #{@meeting.scheduled_at.strftime("%B %d, %Y %H:%M") if @meeting.scheduled?}"}?"
                      }
                    },
                    class: "button button-secondary" %>
    </div>
  </div>
</div>
