<%= turbo_stream_from @meeting %>
<div class="grid grid-cols-12 items-start gap-2 lg:gap-4">
  <div class="col-span-12 lg:col-span-7">
    <%= card class: "relative p-0" do %>

      <%= render "admin/meetings/details", meeting: @meeting %>
    <% end %>
  </div>

  <div class="col-span-12 lg:col-span-5">
    <%= modal_link_to admin_meeting_share_path(meeting_id: @meeting.id), class: "button button-secondary button-full mb-3" do %>
      <%= svg_tag "icons/mingcute/link_line", class: "inline h-4" %>
      Share a public link
    <% end %>

    <%= card class: "p-0 pt-4" do %>
      <h3 class="px-4 mt-0 mb-0">Guests</h3>

      <%= turbo_frame_tag @meeting, :invites do %>
        <div class="px-4">
          <%= render "admin/invites/form", meeting: @meeting %>
        </div>
        <div class="flex gap-1 px-4 pb-4 border-b border-solid w-100 overflow-x-auto">
          <% if @meeting.invitable_memberships.any? %>
            <%= button_to admin_meeting_mass_invites_path(
                            meeting_id: @meeting.id
                          ),
                          method: :post,
                          form: {
                            class: "inline-block"
                          },
                          class: "button button-secondary button-xs" do %>
              <%= svg_tag "icons/mingcute/group_2_line.svg" %>
              <%= invite_remaining_members_text(@meeting) %>
            <% end %>

            <% Current.platform.groups.includes(:memberships).where.associated(:memberships).each do |group| %>
              <% next if @meeting.invitable_memberships(from: group).none? %>

              <%= button_to admin_meeting_mass_invites_path(meeting_id: @meeting.id, group_id: group.id),
                            method: :post,
                            form: {
                              class: "inline-block"
                            },
                            class: "button button-secondary button-xs" do %>
                <%= svg_tag "icons/mingcute/group_2_line.svg" %>
                <%= group.name %>
              <% end %>
            <% end %>
          <% else %>
            <%= badge "Added all members", color: "green" %>
          <% end %>
        </div>

        <%= render "admin/invites/index", page: @page %>
      <% end %>
    <% end %>
  </div>
</div>
