<%# locals: (rsvp:) %>
<%= form_with model: [:public, rsvp], data: { turbo_frame: "_top" } do |form| %>
  <%= render "navigation/form_errors", model: rsvp %>

  <%= hidden_field_tag :meeting_guid, params[:meeting_guid] %>
  <%= hidden_field_tag :invite_guid, params[:invite_guid] %>

  <% if rsvp.persisted? %>
    <div class="form-group">
      <%= form.label :answer, "Are you joining?" %>
      <%= form.select :answer,
                      options_for_select([["Yes", "yes"], ["No", "no"]], selected: @rsvp.answer),
                      { },
                      class: "form-control" %>
    </div>
  <% else %>
    <%= form.hidden_field :answer, value: "yes" %>
  <% end %>

  <div class="form-group">
    <%= form.label :full_name, "Your name" %>
    <%= form.text_field :full_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email, "Your email" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <%= form.submit rsvp.persisted? ? "Update" : "Sign up", class: "button button-primary button-full" %>
<% end %>
