<%= form_with model: @session, url: admin_onboarding_path, method: :patch, local: true, class: "w-full h-screen flex flex-col justify-center items-center" do |f| %>
  <div class="w-full max-w-sm mx-auto p-6 bg-white shadow-md rounded-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Welcome! Let's get started</h2>
    <%= render 'navigation/form_errors', model: @session %>


    <div class="mb-4">
      <%= f.fields_for :platform do |platform_fields| %>
        <%= platform_fields.label :name, "What's the name of your organisation?", class: 'block text-sm font-medium text-gray-700' %>
        <%= platform_fields.text_field :name, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
      <% end %>
    </div>

    <%= f.fields_for :user do |user_fields| %>
      <div class="flex mb-4 flex-row gap-2">
        <div>
          <%= user_fields.label :first_name, "Your first name", class: 'block text-sm font-medium text-gray-700' %>
          <%= user_fields.text_field :first_name, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div>
          <%= user_fields.label :last_name, class: 'block text-sm font-medium text-gray-700' %>
          <%= user_fields.text_field :last_name, required: true, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
      </div>
    <% end %>

    <div>
      <%= f.submit "Get Started", class: "w-full py-2 px-4 bg-indigo-600 text-white font-bold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm" %>
    </div>
  </div>
<% end %>