<%# locals: (meeting:) %>

<dl class="flex flex-wrap mt-2">
  <div class="flex w-full flex-none gap-x-4">
    <dt class="flex-none">
      <span class="sr-only">Email</span>
      <%= svg_tag "icons/mingcute/mail_line", class: "h-6 w-5 text-gray-400" %>
    </dt>
    <dd>
      No messages sent
      <%= modal_link_to "Send email",
                        new_admin_meeting_schedule_path(meeting_id: @meeting.id),
                        data: { turbo_frame: "_top" },
                        class: 'button button-xs button-secondary' %>
      <%= modal_link_to "Send SMS",
                        new_admin_meeting_schedule_path(meeting_id: @meeting.id),
                        data: { turbo_frame: "_top" },
                        class: 'button button-xs button-secondary' %>
    </dd>
  </div>
  <div class="flex w-full flex-none gap-x-4">
    <dt class="flex-none">
      <span class="sr-only">Questionnaire</span>
      <%= svg_tag "icons/mingcute/chart_vertical_line", class: "h-6 w-5 text-gray-400" %>
    </dt>
    <dd>
      <% if @meeting.surveys.open.any? %>
        <%= link_to pluralize(@meeting.surveys.open.size, "Active survey"),
                    admin_meeting_surveys_path(meeting_id: @meeting.id),
                    class: "link"
                     %>
      <% else %>
        No surveys
      <% end %>

      <%= link_to "Ask guests a question",
                  new_admin_meeting_survey_path(meeting_id: @meeting.id),
                  data: { turbo_frame: "_top" },
                  class: 'button button-xs button-secondary' %>
    </dd>
  </div>
</dl>