<%# locals: (invite:)  %>
<li class="flex items-center justify-between gap-x-6 py-5">
  <div class="flex min-w-0 gap-x-4">
    <%= svg_tag 'icons/mingcute/user_4_line.svg', class: "size-12 flex-none rounded-full bg-#{membership_role_color(invite.membership)}-100" %>
    <div class="min-w-0 flex-auto">
      <p class="text-sm/6 font-semibold text-gray-900"><%= invite.membership.user.full_name %></p>
      <p class="mt-1 truncate text-xs/5 text-gray-500"><%= invite.membership.user.email %></p>
    </div>
  </div>
  <div class="flex gap-1">
    <%= link_to "View",
                admin_membership_path(invite.membership),
                target: "_top",
                class: "button button-secondary button-xs" %>

    <%= button_to "Remove",
                  admin_meeting_invite_path(invite, meeting_id: invite.meeting_id),
                  method: :delete,
                  target: "_top",
                  class: "button button-warning button-xs" %>
  </div>
</li>