<%= turbo_frame_tag :modal_content do %>
  <%= turbo_stream_from @meeting %>
  <div class="flex justify-between">
    <div>
      Open to everyone
    </div>
    <%= turbo_frame_tag @meeting do %>
      <%= button_to admin_meeting_path(@meeting),
                    id: "meeting-open-toggle",
                    method: :patch,
                    data: { controller: "forms--toggle", action: "forms--toggle#toggle" },
                    params: { meeting: { open: !@meeting.open? } },
                    class: "toggle #{@meeting.open? ? "toggle-on" : "toggle-off" }",
                    role: "switch" do %>
        <span class="sr-only">Switch</span>
        <span aria-hidden="true"></span>
      <% end %>
    <% end %>
  </div>

  <%= render "admin/invites/form", meeting: @meeting %>

  <% if @meeting.invitable_memberships.any? %>
    <%= button_to admin_meeting_mass_invites_path(meeting_id: @meeting.id),
                  method: :post,
                  class: "button button-secondary button-xs" do %>
      <%= svg_tag "icons/mingcute/group_2_line.svg" %>
      <%= invite_remaining_members_text(@meeting) %>
    <% end %>
  <% else %>
    <%= badge "Invited everyone", color: "green" %>
  <% end %>

  <%= render "admin/invites/index", meeting: @meeting %>
<% end %>
