<%= turbo_frame_tag :modal_content do %>
  <%= modal_content(class: "min-w-[30vw] min-h-[40vh]") do %>

    <div class="p-5">
      <h1 class="my-0"><%= @invite.contact.full_name %></h1>
      <div class="flex flex-row gap-1">
        <% event_url = public_event_url(@invite.meeting.guid, invite_guid: @invite.guid) %>

        <% if @invite.membership %>
          <%= link_to admin_membership_path(@invite.membership), target: "_top", class: "button button-secondary button-xs" do %>
            <%= svg_tag "icons/mingcute/user_1_fill", class: "inline h-4" %>
            Member
          <% end %>
        <% end %>

        <div
          data-controller="clipboard"
          data-clipboard-copy-text-value="<%= event_url %>"
          class="relative flex"
        >
          <%= link_to event_url,
                      data: { action: "click->clipboard#copy" },
                      class: "button button-secondary button-xs" do %>
            <%= svg_tag "icons/mingcute/link_line", class: "inline h-4" %>
            Copy personal invite link
          <% end %>
        </div>
      </div>

      <%= render "admin/rsvps/form", rsvp: @rsvp %>
    </div>
  <% end %>
<% end %>
