<%= turbo_frame_tag :modal_content do %>
  <%= modal_content(class: "min-w-[40vw] min-h-[40vh]") do %>
    <div
      style="<%= blur_background_styles(@invite.meeting.logo, fallback_image: @invite.meeting.platform.logo) %>"
    >
      <div class="py-6 <%= blur_foreground_classes %>">
        <h1 class="text-center text-xl md:text-2xl">
          <%= @invite.contact.full_name %>
        </h1>
      </div>
    </div>


    <div class="flex flex-row justify-center w-100">
      <div class="flex flex-col mt-4 divide-gray-200 divide-y w-80 border-x border border-[1px] border-gray-200 rounded">
        <div class="flex flex-row justify-between w-80 px-8 py-4 w-80">
          <div class="font-medium">
            RSVP
          </div>
          <div class="text-right">
            <%= form_with model: [:admin, @meeting, @invite],
                          data: { controller: "submit-on-change" } do |form| %>
              <%= render "navigation/form_errors", model: @invite %>
              <%= select_tag :rsvp_answer,
                             options_for_select(
                               Rsvp.answers.map { |key, value| [key.humanize, value] },
                               selected: @invite.rsvp_status
                             ),
                             data: { action: "submit-on-change#submit" },
                             class: "form-control" %>
              <%= form.submit "", class: "hidden", data: { "submit-on-change-target": "submitButton" } %>
            <% end %>
          </div>
        </div>
        <% event_url = public_event_url(@invite.meeting.guid, invite_guid: @invite.guid) %>
        <div
          data-controller="clipboard"
          data-clipboard-copy-text-value="<%= event_url %>"
          class="text-center px-8 py-4 w-80 relative">
          <%= link_to "Copy personal invite link",
                      event_url,
                      data: { action: "click->clipboard#copy" },
                      class: "underline" %>
        </div>
        <div class="text-center px-8 py-4 w-80">
          <%= button_to "Remove",
                        admin_meeting_invite_path(@invite, meeting_id: @invite.meeting_id),
                        method: :delete,
                        data: {
                          turbo_frame: "_top",
                          turbo_confirm: "Are you sure you want to remove #{@invite.contact.full_name}?",
                        },
                        form: {
                          data: {
                            action: "turbo:submit-end->modal#close",
                          }
                        },
                        class: "underline"

          %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
