<%# locals: (table:) %>

<div
  class="bg-card-background"
  data-controller="tables--content tables--column-hider <%= 'tables--multi-select' if @multi_select %>"
  data-table-guid="<%= table.guid %>"
  data-tables--content-max-row-count-value="<%= @page&.recordset&.records_count %>"
  data-tables--column-hider-with-multiselect-value="<%= @multi_select ? 1 : 0 %>"
>

  <% unless @collection %>
    <%= form_with url: url_for, method: :get,
                  data: { 'tables--content-target': 'form', turbo_frame: table.turbo_frame_id } do |form| %>
      <%= hidden_field_tag :table_guid, table.guid %>
      <%= hidden_field_tag :sort_by, table.sort_by, data: { 'tables--content-target': 'sortByInput' } %>
      <%= hidden_field_tag :sort_direction, table.sort_direction, data: { 'tables--content-target': 'sortDirectionInput' } %>
      <%= hidden_field_tag :search_term, table.search_term, data: { 'tables--content-target': 'searchTermInput' } %>
      <%= hidden_field_tag :per_page, nil, data: { 'tables--content-target': 'perPageInput' } %>

      <% params.to_unsafe_h.except(:table_guid, :sort_by, :sort_direction, :search_term).each do |key, value| %>
        <%= hidden_field_tag key, value %>
      <% end %>

      <%= form.submit '', class: 'hidden', data: { turbo_action: table.changes_url? ? 'advance' : nil, 'tables--content-target': 'hiddenSubmitButton' }.compact %>
    <% end %>
  <% end %>

  <% if table.has_toolbar? %>
    <%= render 'tables/toolbar', table: table %>
  <% end %>

  <%= turbo_frame_tag table.guid do %>
    <div class="flow-root">
      <div class="relative overflow-x-auto">
        <div class="inline-block min-w-full py-2 align-middle">
          <table data-tables--column-hider-target="table" data-tables--content-target="table" id="table-<%= table.guid %>" class="min-w-full table-fixed divide-y divide-gray-700">
            <% if headers.any? %>
              <%= render 'tables/headers', table: table %>
            <% end %>
            <tbody
              class="divide-y divide-gray-600"

              <% if table.paginated? %>
              data-controller="pagination"
              data-pagination-root-margin-value="40px"
              <% end %>
              >

            <% if table.turbo_frame_id.present? %>
              <%= turbo_stream_from table.turbo_frame_id %>
            <% end %>

            <% if table.rows.any? %>
              <% table.rows.each do |row| %>
                <%= render 'tables/row' %>

                <%= render ::Tables::RowComponent.new(
                  row,
                  @columns,
                  multi_select: @multi_select,
                ) %>
              <% end %>
            <% else %>
              <tr
                <% if @rows_id.present? %>
                id="<%= @rows_id %>-no-results-row"
                <% end %>
                class="no-results">
                <td colspan="<%= column_count %>">
                  <div class="flex flex-col items-center justify-center h-32">
                    <div class="px-4 py-4 text-sm text-gray-300">
                      <%= @no_results_text %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>

            <% # The pagination spinner %>
            <% unless @collection || @page.last? %>
              <tr data-pagination-target="nextSection">
                <td colspan="<%= column_count %>">
                  <% if @pagination_url %>
                    <% url = "#{@pagination_url}?#{ params.to_unsafe_h.merge(
                      {
                        sort_by: sort_by,
                        sort_direction: sort_direction,
                        search_term: search_term,
                        table_guid: table_guid,
                        page: @page.next_param
                      }).to_query}" %>
                    <%= link_to url,
                                class: "pagination-link",
                                data: { 'pagination-target': 'nextPageLink', preload: @page.first? } do %>
                      <%= svg_tag 'animations/spinner.svg', class: 'w-6 h-6 text-foreground' %>
                    <% end %>
                  <% else %>
                    <%= link_to url_for(
                                  params.to_unsafe_h.merge(
                                    {
                                      sort_by: sort_by,
                                      sort_direction: sort_direction,
                                      search_term: search_term,
                                      table_guid: table_guid,
                                      page: @page.next_param
                                    })
                                ),
                                class: "pagination-link",
                                data: { 'pagination-target': 'nextPageLink', preload: @page.first? } do %>
                      <%= svg_tag 'animations/spinner.svg', class: 'w-6 h-6 text-foreground' %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>