<%# locals: (header:, table:, column_index:) %>

<%= content_tag(:tr, html_options) do %>
  <% if @multi_select %>
    <td data-links-noclick="true" class="relative px-7 sm:w-12 sm:px-6">
      <%= check_box_tag(nil,
                        @record.id,
                        false,
                        class: 'form-checkbox absolute left-4 top-1/2 -mt-2 h-4 w-4 rounded border-white/10 bg-white/5 text-sky-medium focus:ring-sky-medium focus:ring-offset-gray-900 checked:bg-sky-medium',
                        data:  {
                          action:                      'change->tables--multi-select#selectItem',
                          tables__multi_select_target: 'recordCheckbox'
                        })
      %>
    </td>
  <% end %>

  <% normalized_columns.each do |column| %>
    <%= render ::Tables::ColumnComponent.new(**column[:options]) do %>
      <% if column[:component].call(@record).is_a?(Array) %>
        <% column[:component].call(@record).map do |component| %>
          <%= render component %>
        <% end %>
      <% else %>
        <%= render column[:component].call(@record) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
