<%# locals: (table:) %>

<div class="mb-3">
  <div class="sm:flex-auto">
    <% if table.title.present? %>
      <h1 class="text-base font-semibold text-gray-900">
        <%= table.title %>
      </h1>
    <% end %>
  </div>

  <% if table.tabs.any? %>
    <%= render "tables/tabs", table: table %>
  <% end %>

  <div class="flex justify-between">
    <div class="flex">
      <% if table.searchable? %>
        <%= render('tables/search_field', table: table) %>
      <% end %>
    </div>
    <div class="flex content-center align-center gap-1">
      <% if table.multi_select? %>

        <%= dropdown_menu(data: { multi_select_menu: true }) do %>
          <%= button_tag class: "button button-secondary hidden",
                         data: {
                           action: 'dropdown#toggle',
                           multi_select_menu: "true"
                         } do %>
            <span class="whitespace-nowrap">
              <span data-multi-select-menu-label>0</span> selected
              <%= svg_tag "icons/mingcute/arrows/down_small_fill", class: "inline h-4" %>
            </span>
          <% end %>

          <%= dropdown_menu_links do %>
            <% table.multi_select_options.each do |button_name, form_options| %>
              <div class="dropdown-link">
                <%= form_with **form_options.merge(data: { turbo_frame: "_top" }) do |form| %>
                  <%= form.hidden_field :multi_select_ids, value: nil, data: { multi_select_hidden_field: true } %>
                  <%= form.submit button_name, class: "block w-full px-4 py-2 text-left text-sm text-gray-700" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if table.exportable? %>
        <%= link_to url_for(
                      format: :xls,
                      sort_by: table.sort_by,
                      sort_direction: table.sort_direction,
                      search_term: table.search_term,
                      timestamp: Time.current # prevents file caching
                    ), data: { turbo: false } do %>
          Export
        <% end %>
      <% end %>

      <% table.actions.each do |link| %>
        <%= link %>
      <% end %>
    </div>
  </div>
</div>
