<h2 class="mt-0 pt-0">
  <%= link_to Current.platform.name,
              admin_site_path(focus: :name),
              class: "editable" %>
</h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">

  <%= card class: "col-span-1" do %>
    <h3 class="mt-0 mb-2">
      <%= svg_tag "icons/mingcute/group_2_line", class: "inline" %>
      <% if Current.platform.memberships.size > 1 %>
        You're organising <%= Current.platform.memberships.size %> people
      <% else %>
        You haven't added any members yet.
      <% end %>
    </h3>
    <p class="min-h-12">
      <% if Current.platform.memberships.size > 1 %>
        <% newest_membership = Current.platform.memberships.order(created_at: :desc).first %>
        Your newest member <%= link_to newest_membership.user.first_name,
                                       admin_membership_path(newest_membership),
                                       class: "link link-secondary"

    %> joined <%= time_ago_in_words(newest_membership.created_at) %> ago.
      <% else %>
        Add a <%= link_to "member",
                          admin_memberships_path,
                          class: "link link-secondary" %> to get started!
      <% end %>
    </p>
    <div class="mt-4">
      <%= link_to Current.platform.memberships.size > 1 ? "See all" : "Add a member", admin_memberships_path, class: "link link-underline" %>
    </div>
  <% end %>

  <%= card class: "col-span-1" do %>
    <h3 class="mt-0 mb-2">
      <%= svg_tag "icons/mingcute/calendar_2_line", class: "inline" %>
      <% if Current.platform.meetings.planned.any? %>
        You're planning <%= pluralize Current.platform.meetings.planned.size, "event" %>
      <% else %>
        You're not planning any events
      <% end %>
    </h3>
    <p class="min-h-12">
      <% if Current.platform.meetings.planned.any? %>
        <% next_meeting = Current.platform.meetings.planned.next_up %>

        <% if next_meeting.happens_at %>
          Next is <%= link_to next_meeting.title,
                              admin_meeting_path(next_meeting),
                              class: "link link-primary"
    %> <%= time_ago_in_words(next_meeting.happens_at) %> from now.
        <% else %>
          You still haven't set a date for <%= link_to next_meeting.title,
                                                       admin_meeting_path(next_meeting),
                                                       class: "link link-primary"
    %>.
        <% end %>
      <% else %>
        Invite members or people outside your organisation to an <%= link_to "event", admin_meetings_path, class: "link link-primary" %>.
      <% end %>
    </p>
    <div class="mt-4">
      <%= link_to Current.platform.meetings.planned.any? ? "See all" : "Add an event", admin_meetings_path, class: "link link-underline" %>
    </div>
  <% end %>

  <%= card class: "col-span-1" do %>
    <h3 class="mt-0 mb-2">
      <%= svg_tag "icons/mingcute/web_line", class: "inline" %>
      <% if Current.platform.listed? %>
        You have a website
      <% else %>
        You haven't published a website
      <% end %>
    </h3>
    <p class="min-h-12">
      <% if Current.platform.listed? %>
        It's <%= link_to Current.platform.full_url(request.base_url), Current.platform.full_url(request.base_url), target: "_blank", class: "link link-tertiary" %>
        .
      <% else %>
        Keep people in the loop with a really
        simple, <%= link_to "free website", admin_site_path, class: "link link-tertiary" %>.
      <% end %>
    </p>
    <div class="mt-4">
      <%= link_to "Manage", admin_site_path, class: "link link-underline" %>
    </div>
  <% end %>

  <%= card class: "col-span-1" do %>
    <h3 class="mt-0 mb-2">
      <%= svg_tag "icons/mingcute/mail_line", class: "inline" %>
      How can we help?
    </h3>
    <p class="min-h-12">
      We'd like to learn about your organisation and how we can help.
      We also welcome product feedback and bug reports! Here's where to reach us:
    </p>
    <div class="mt-4 flex gap-3">
      <%= link_to "help@twine.no", "mailto:help@twine.no", class: "link link-underline" %>
      <%= link_to "Github", "https://github.com/tmbv93/clubhouse", target: "_blank", class: "link link-underline" %>
      <%= link_to "our roadmap", "https://github.com/users/tmbv93/projects/1/views/1", target: "_blank", class: "link link-underline" %>
    </div>
  <% end %>
</div>
