<h2 class="mt-0 pt-0"><%= Current.platform.name %></h2>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  <%= card class: "col-span-1]" do %>
    <h3 class="mt-0 mb-2">
      <%= svg_tag "icons/mingcute/calendar_2_line", class: "inline" %>
      <% if Current.platform.meetings.planned.any? %>
        You're planning <%= pluralize Current.platform.meetings.planned.size, "event" %>.
      <% else %>
        You're not planning any events.
      <% end %>
    </h3>
    <p class="min-h-12">
      <% if Current.platform.meetings.planned.any? %>
        <% next_meeting = Current.platform.meetings.planned.next_up %>

        <% if next_meeting.happens_at %>
          Next is <%= link_to next_meeting.title,
                              admin_meeting_path(next_meeting),
                              class: "font-bold hover:opacity-70 text-[#E4572E]"
    %> <%= time_ago_in_words(next_meeting.happens_at) %> from now.
        <% else %>
          You still haven't set a date for <%= link_to next_meeting.title,
                              admin_meeting_path(next_meeting),
                              class: "font-bold hover:opacity-70 text-[#E4572E]"
    %>.
        <% end %>
      <% else %>
        Nothing needs your attention right now.
      <% end %>
    </p>
    <div class="mt-4">
      <%= link_to Current.platform.meetings.planned.any? ? "Manage" : "Add an event", admin_meetings_path, class: "link" %>
    </div>
  <% end %>

  <%= card class: "col-span-1" do %>
    <h3 class="mt-0 mb-2">
      <%= svg_tag "icons/mingcute/group_2_line", class: "inline" %>
      You're organising <%= pluralize Current.platform.memberships.size, "person", "people" %>
    </h3>
    <p class="min-h-12">
      <% if Current.platform.memberships.any? %>
        <% newest_membership = Current.platform.memberships.order(created_at: :desc).first %>
        Your newest member <%= link_to newest_membership.user.first_name,
                                       admin_membership_path(newest_membership),
                                       class: "font-bold hover:opacity-70 text-[#17BEBB]"

    %> joined <%= time_ago_in_words(newest_membership.created_at) %> ago.
      <% else %>
        Add a member to get started.
      <% end %>
    </p>
    <div class="mt-4">
      <%= link_to Current.platform.memberships.any? ? "Manage" : "Add a member", admin_memberships_path, class: "link" %>
    </div>
  <% end %>

  <%= card class: "col-span-1" do %>
    <h3 class="mt-0 mb-2">
      <%= svg_tag "icons/mingcute/web_line", class: "inline" %>
      You haven't published a website
    </h3>
    <p class="min-h-12">
      Keep people in the loop with a really <%= link_to "simple website", admin_site_path, class: "font-bold text-[#76B041]" %>.
    </p>
    <div class="mt-4">
      <%= link_to "Manage", admin_site_path, class: "link" %>
    </div>
  <% end %>
</div>
