<nav class="flex flex-1 flex-col">
  <ul role="list" class="flex flex-1 flex-col gap-y-7">
    <li>
      <ul role="list" class="-mx-2 space-y-1">
        <li>
          <%= link_to admin_dashboard_path, class: "sidebar-link #{sidebar_active_html_class('dashboards')}" do %>
            <%= svg_tag 'icons/mingcute/home_3_line', class: 'size-6 shrink-0 group-hover:text-white' %>
            Dashboard
          <% end %>
        </li>

        <li>
          <%= link_to admin_meetings_path, class: "sidebar-link #{sidebar_active_html_class(%w[meetings surveys])}" do %>
            <%= svg_tag 'icons/mingcute/calendar_2_line', class: 'size-6 shrink-0 group-hover:text-white' %>
            Meetings
          <% end %>
        </li>

        <li>
          <%= link_to admin_memberships_path, class: "sidebar-link #{sidebar_active_html_class('memberships')}" do %>
            <%= svg_tag 'icons/mingcute/group_2_line', class: 'size-6 shrink-0 group-hover:text-white' %>
            Members
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav>
