<div class="fixed inset-x-0 bottom-0 bg-white border-t border-gray-200 shadow-md lg:hidden">
  <div class="flex justify-around pt-3 pb-2">
    <%= link_to admin_dashboard_path, class: "bottom-bar-link #{sidebar_active_html_class('dashboards')}" do %>
      <%= svg_tag 'icons/mingcute/home_3_line', class: 'size-5 shrink-0' %>
      Home
    <% end %>

    <%= link_to admin_meetings_path, class: "bottom-bar-link #{sidebar_active_html_class(%w[meetings surveys])}" do %>
      <%= svg_tag 'icons/mingcute/calendar_2_line', class: 'size-5 shrink-0' %>
      Events
    <% end %>

    <%= link_to admin_memberships_path, class: "bottom-bar-link #{sidebar_active_html_class('memberships')}" do %>
      <%= svg_tag 'icons/mingcute/group_2_line', class: 'size-5 shrink-0' %>
      Members
    <% end %>

    <%= link_to admin_site_path, class: "bottom-bar-link #{sidebar_active_html_class('sites')}" do %>
      <%= svg_tag 'icons/mingcute/web_line', class: 'size-5 shrink-0' %>
      Site
    <% end %>
  </div>
</div>
