<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || 'Milkshake' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest %>
  <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="h-full bg-stone-100">
<div data-controller="sidebar drawer">
  <%= render 'navigation/mobile_menu' %>
  <%= render 'navigation/desktop_sidebar' %>

  <div class="lg:pl-72">
    <%= render 'navigation/top_bar' %>
    <main
      data-controller="modal"
      data-modal-origin-url-value="<%= @encapsulating_view_url || url_for %>"
      data-modal-open-on-page-load-value="<%= @modal_content.present? %>"
      class="py-10">

      <div class="px-4 sm:px-6 lg:px-8">
        <% if content_for?(:breadcrumbs) %>
          <div class="font-medium breadcrumbs">
            <%= yield :breadcrumbs %>
          </div>
        <% end %>

        <%= yield %>

        <div
          class="fixed inset-x-0 bottom-0 flex flex-col w-full pointer-events-none dynamic-flash-container">
          <%= render 'navigation/flash' %>
        </div>

        <%= render 'navigation/modal', modal_content: @modal_content %>
      </div>
    </main>
  </div>
</div>
</body>
</html>
