<%= turbo_stream_from @platform %>

<div class="flex flex-col md:flex-row">
  <div class="w-full">
    <%= card do %>
      <%= render "admin/sites/form", platform: @platform %>
    <% end %>
    <h4 class="mb-0">Links</h4>
    <%= render "admin/links/form", platform: @platform %>
  </div>
  <div class="flex flex-col items-center w-full">
    <div class="relative w-[280px] h-[600px] bg-black rounded-[3rem] shadow-xl p-3">
      <div class="w-full h-full bg-white rounded-[2.5rem] overflow-y-hidden">
        <%= turbo_frame_tag @platform do %>
          <%= render "public/platforms/site_content", platform: @platform %>
        <% end %>
      </div>
    </div>
    <div class="m-4 text-center">
      <%= link_to "Go to page",
                  public_site_path(@platform.shortname),
                  target: "_blank",
                  class: "button button-secondary w-[100px]" %>
    </div>
  </div>
</div>
